html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #fff;
  background: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

header.site {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  font-weight: normal;
}

.GalleryIndex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.gallery {
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.Gallery .gallery {
  height: 100vh;
}

.gallery h3 {
  color: #fff;
  font-size: 80px;
}

img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100vw;
  height: 100vh;
}