html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding:0;
}

body {
  font-family: sans-serif;
  color: #fff;
  background: #000;
  text-shadow: 2px 4px 3px rgba(0,0,0,.3);
}

nav {
  display:flex;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  padding: 10px;
}

nav :nth-child(1) {
  flex: 1;
}

nav :nth-child(2) {
  margin-right: 30px;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration:none;
}

h3 {
  color: #fff;
  font-size: 80px;
}

.gallerypage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.gallery {
  background-size: cover;
  background-position: 50% 50%;
  flex: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
}

.ingallery .gallery {
  height: 100vh;
  align-content: flex-end;
  flex-direction: column;
}

.galleryheader {
  position: absolute;
  top:0;
  left:0;
  margin:auto;
  text-align: center;
}